<template>
  <div>
    <div>
      <div class="nav-trans d-none d-md-block">
        <ul>
          <li>
            <a href="#" @click="toggleActive('')" :class="{active: home}">Home</a>
          </li>
          <li>
            <a href="#" @click="toggleActive('aboutme')" :class="{active: aboutme}">About me</a>
          </li>
          <li>
            <a href="#" @click="toggleActive('contact')" :class="{active: contact}">Contact</a>
          </li>
          <li>
            <a href="#" @click="toggleActive('skill')" :class="{active: skill}">Skill</a>
          </li>
          <li>
            <a href="#" @click="toggleActive('exp')" :class="{active: exp}">Experience</a>
          </li>
        </ul>
      </div>
      <div class="nav-mobile d-block d-md-none">
        <div id="nav-icon3" @click="open = !open" :class="{open: open}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div :class="{open: open}" class="overlay overlay-hugeinc">
          <nav>
            <ul>
              <li>
                <a href="#" @click="toggleActive(''), open = !open" :class="{active: home}">Home</a>
              </li>
              <li>
                <a
                  href="#"
                  @click="toggleActive('aboutme'), open = !open"
                  :class="{active: aboutme}"
                >About me</a>
              </li>
              <li>
                <a
                  href="#"
                  @click="toggleActive('contact'), open = !open"
                  :class="{active: contact}"
                >Contact</a>
              </li>
              <li>
                <a
                  href="#"
                  @click="toggleActive('skill'), open = !open"
                  :class="{active: skill}"
                >Skill</a>
              </li>
              <li>
                <a
                  href="#"
                  @click="toggleActive('exp'), open = !open"
                  :class="{active: exp}"
                >Experience</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <first-page v-if="home"></first-page>
    <about-me v-if="aboutme"></about-me>
    <contact v-if="contact"></contact>
    <skill v-if="skill"></skill>
    <exp v-if="exp"></exp>
  </div>
</template>

<script>
import firstpage from "@/components/Firstpage";
import aboutme from "@/components/AboutMe";
import contact from "@/components/Contact";
import skill from "@/components/Skill";
import exp from "@/components/Experience";

export default {
  data() {
    return {
      home: true,
      aboutme: false,
      contact: false,
      skill: false,
      exp: false,
      open: false
    };
  },
  components: {
    "first-page": firstpage,
    "about-me": aboutme,
    contact,
    exp,
    skill
  },
  methods: {
    toggleActive(tab) {
      this.home = false;
      this.aboutme = false;
      this.contact = false;
      this.skill = false;
      this.exp = false;
      if (tab === "aboutme") this.aboutme = true;
      else if (tab === "contact") this.contact = true;
      else if (tab === "skill") this.skill = true;
      else if (tab === "exp") this.exp = true;
      else this.home = true;
    }
  }
};
</script>

<style scoped>
.nav-trans a {
  text-shadow: 1px 1px 0 #fff;
}
#nav-icon3 {
  width: 40px;
  height: 40px;
  right: 10px;
  position: fixed;
  margin: 30px;
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #ffc81f;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3.open span {
  background: #fff;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 30px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 200, 31, 0.9);
  z-index: 99;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay ul li {
  display: block;
  height: fit-content;
  margin: 10px 0;
  min-height: 54px;
}

.overlay ul li a {
  font-weight: 500;
  font-size: 28px;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  text-decoration: none;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}
</style>