<template>
  <full-page ref="fullpage" :options="options" id="fullpage">
    <div class="section">
      <div class="text-box">
        <div class="banner position-relative grey">About</div>
        <div class="banner position-relative black">Me</div>
      </div>
      <div class="detail text-center">
        <div class="h1">
          I have
          <span class="highlight-text">responsibility</span>,
          <span class="highlight-text">flexibility</span>, and
          <span class="highlight-text">leadership</span> as a personality and soft skill
          <span class="highlight-text">.</span>
        </div>
        <div class="scroll-downs">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section second-section">
      <div class="text-box position-absolute">
        <div class="banner position-relative grey">Background</div>
      </div>
      <div class="row h-100">
        <div class="col-12 col-lg-6 d-none d-lg-block profile-img-box">
          <img
            class="profile-img"
            :class="{slidedown: current_page === 'page2'}"
            src="../assets/r001-014.jpeg"
          />
        </div>
        <div class="col-12 col-lg-6 px-5 d-flex flex-column justify-content-center aboutme-text">
          <div class="header mb-4">About me</div>
          <div
            class="content mb-4"
          >Hello, my name is New. I have responsibility, flexibility, and leadership as a personality and soft skill and always strongly want to develop myself.</div>

          <div class="sub-header mb-3">Education</div>
          <div class="content mb-4">
            School of Information Technology, Major Computer Science 2015-2019
            <div
              class="sub-content"
            >(Java logical and OOP problem, PHP website project, SQL Database design, SME project concept, Android application)</div>
          </div>

          <div class="sub-header mb-3">Hobby</div>
          <div class="content mb-4">
            <div>- Playing game</div>
            <div>- Surfing the internet</div>
            <div>- Learning</div>
            <div>- Listening music</div>
          </div>
        </div>
      </div>
    </div>
  </full-page>
</template>

<script>
import $ from "jquery";

export default {
  data() {
    return {
      current_page: "",
      options: {
        licenseKey: "ABF9EE2D-86114B0A-8FBA58B4-7570DB48",
        anchors: ["page1", "page2"],
        afterLoad: this.afterLoad
      }
    };
  },
  methods: {
    afterLoad: function(origin, destination) {
      this.current_page = destination.anchor;
      $(".fp-table.active .aos-init").addClass("aos-animate");
    }
  },
  mounted() {
    let slidedown = $(".second-section");
    let slidedown_offset = slidedown.offset().top;
    let scrolled = false;
    let $window = $(window);

    $window.on("scroll", function() {
      scrolled = true;
    });

    if (scrolled) {
      scrolled = false;
      if ($window.scrollTop() >= slidedown_offset) {
        slidedown_offset.children("img").addClass("slidedown");
      } else {
        slidedown_offset.children("img").removeClass("slidedown");
      }
    }
  }
};
</script>

<style scoped>
.text-box .banner {
  font-size: 180px !important;
  height: 25%;
}

.text-box .banner:nth-child(2) {
  height: 30%;
}

.second-section {
  /* background-color: #ffc81f; */
}

.profile-img {
  margin-top: 20%;
  height: 35%;
  width: 80%;

  object-fit: cover;
  object-position: 0% 0%;
}

.slidedown {
  animation: slide-down 3s cubic-bezier(0.5, 0.5, 0.5, 0.5) both;
}

.header {
  font-size: 24px;
  font-weight: 700;
  color: #ffc81f;
}

.sub-header {
  font-size: 20px;
  font-weight: 600;
  color: #ffc81f;
}

.content {
  position: relative;
  font-size: 16px;
  padding-left: 10px;
}

.content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #ffc81f;
}

.sub-content {
  font-size: 12px;
  color: #3b444b;
}

.aboutme-text {
  line-height: 1.5;
}

@keyframes slide-down {
  0% {
    margin-top: 20%;
    object-position: 0% 0%;
  }
  100% {
    margin-top: 30%;
    object-position: 0% 50%;
  }
}

@media only screen and (max-width: 768px) {
  .text-box .banner {
    font-size: 120px !important;
    height: 20%;
  }
}

@media only screen and (max-width: 425px) {
  .text-box .banner {
    font-size: 80px !important;
    height: 10%;
  }
  [data-anchor="page2"] .banner {
    font-size: 50px !important;
    height: 10%;
  }
  .detail .h1 {
    font-size: 38px !important;
  }
  .highlight-text {
    font-size: 42px;
  }
}

@media only screen and (max-width: 375px) {
  [data-anchor="page2"] .banner {
    font-size: 35px !important;
    height: 10%;
  }
}
</style>