<template>
  <div class="text-center">
    <div class="text-box">
      <div class="banner position-relative grey">Contact</div>
      <div class="banner position-relative black">Me</div>
    </div>
    <div class="detail flex-column">
      <div class="h1">
        You can
        <span class="highlight-text">Contact</span> me via these portal
        <span class="highlight-text">.</span>
      </div>
      <div class="row flex-column flex-md-row justify-content-center icon-wrap mt-4">
        <div class="mr-3 my-3 my-md-0">
          <a
            href="https://www.facebook.com/suppawit.satitsongtam"
            class="d-flex align-items-center"
          >
            <span class="icon-facebook-circled"></span>suppawit.s
          </a>
        </div>
        <div class="mr-3 my-3 my-md-0">
          <a href="https://www.instagram.com/nueclears" class="d-flex align-items-center">
            <span class="icon-instagram"></span>nueclears
          </a>
        </div>
        <div class="mr-3 my-3 my-md-0">
          <a href="mailto:t_ongyod@hotmail.com" class="d-flex align-items-center">
            <span class="icon-mail"></span>t_ongyod@hotmail.com
          </a>
        </div>
        <div class="my-3 my-md-0">
          <a href="tel:0896808065" class="d-flex align-items-center">
            <span class="icon-mobile"></span>0896808065
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.text-box .banner {
  font-size: 180px !important;
  height: 25%;
}
.icon-wrap {
  -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
    1.8s both;
  animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.8s both;
}
.icon-wrap span {
  font-size: 27px;
}
.icon-wrap a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: #ffc81f;
}
.icon-wrap > div > * {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .text-box .banner {
    font-size: 100px !important;
    height: 20%;
  }
}

@media only screen and (max-width: 425px) {
  .text-box .banner {
    font-size: 60px !important;
    height: 10%;
  }

  .detail .h1 {
    font-size: 30px !important;
  }

  .highlight-text {
    font-size: 34px !important;
  }
}
</style>