<template>
  <full-page ref="fullpage" :options="options" id="fullpage">
    <div class="section text-center">
      <div class="text-box">
        <div class="banner position-relative grey">My</div>
        <div class="banner position-relative black">Experience</div>
      </div>
      <div class="detail">
        <div class="h1">
          I worked as
          <span class="highlight-text">Front-end</span> for a
          <span class="highlight-text">Year</span>
          <span class="highlight-text">.</span>
        </div>
        <div class="scroll-downs">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="d-flex flex-column justify-content-center h-100 mx-3 mx-md-5 pb-5">
        <div class="header mb-5" style="margin-top: 120px">My experience of working</div>
        <div class="px-0 px-md-5">
          <vue-timeline-update
            :date="new Date('2017-05-01')"
            title="G-Able: Front-end Developer"
            description="I worked as internship for 2 months. I created platform website by using Agular5"
            thumbnail="//i.imgur.com/hVwPVIO.jpg"
            category="Internship"
            icon="code"
            color="orange"
            :animation="true"
            theme="light"
          />
          <vue-timeline-update
            :date="new Date('2019-02-18')"
            title="G-Able: Front-end Developer"
            description="Worked as a Front-end website developer in an agency team. I created a lot of corporate websites (using html, javascript, css, php) and one internal platform website (using VueJs)."
            thumbnail="//i.imgur.com/hVwPVIO.jpg"
            category="Fulltime Contract"
            icon="code"
            color="orange"
            :animation="true"
            theme="light"
          />
        </div>
      </div>
    </div>
  </full-page>
</template>

<script>

export default {
  data() {
    return {
      current_page: "",
      options: {
        licenseKey: "ABF9EE2D-86114B0A-8FBA58B4-7570DB48",
        scrollOverflow: true
      }
    };
  },
  methods: {}
};
</script>

<style scoped>
.text-box .banner {
  font-size: 160px !important;
  height: 25%;
}

.header {
  font-size: 24px;
  font-weight: 700;
  color: #ffc81f;
}

@media only screen and (max-width: 1024px) {
  .text-box .banner {
    font-size: 120px !important;
    height: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .text-box .banner {
    font-size: 100px !important;
    height: 20%;
  }
}

@media only screen and (max-width: 425px) {
  .text-box .banner {
    font-size: 52px !important;
    height: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .text-box .banner {
    font-size: 40px !important;
    height: 10%;
  }

  .detail .h1 {
    font-size: 40px !important;
  }

  .highlight-text {
    font-size: 44px !important;
  }
}
</style>

<style>
.gb-base-badge--light.gb-base-badge--orange .gb-base-badge__focuser {
  border-color: #ffc81f !important;
}
.gb-base-badge--light.gb-base-badge--orange.gb-base-badge--filled {
  background-color: #ffc81f !important;
}
.gb-base-badge--light.gb-base-badge--orange {
  border-color: #ffc81f !important;
}
.gb-base-number--light.gb-base-number--orange {
  border-color: #ffc81f !important;
}
.gb-vue-timeline-update--light
  .gb-vue-timeline-update__right
  .gb-vue-timeline-update__description {
  color: #3b444b;
}
</style>