<template>
  <div class="text-center box">
    <div class="text-box">
      <div class="banner position-relative grey">Suppawit</div>
      <div class="banner position-relative black">Satitsongtam</div>
    </div>
    <div class="detail">
      <div class="h1">
        I am a
        <span class="highlight-text">Front-End</span> Developer
        <span class="highlight-text">.</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.box {
  display: block;
}
@media only screen and (max-width: 425px) {
  .text-box {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
  }
  .detail {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .text-box .banner {
    font-size: 40px !important;
    height: 80px;
  }
  .detail .h1 {
    font-size: 50px !important;
  }
  .highlight-text {
    font-size: 54px !important;
  }
  .box {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  .detail .h1 {
    font-size: 40px !important;
  }
  .text-box .banner {
    font-size: 30px !important;
    height: 80px;
  }
  .highlight-text {
    font-size: 44px !important;
  }
}
</style>