<template>
  <div class="text-center">
    <div class="text-box">
      <div class="banner position-relative grey">Skill</div>
    </div>
    <div class="detail d-flex flex-column">
      <div class="h1 mt-5">
        This is my
        <span class="highlight-text">Website Development</span> skills
        <span class="highlight-text">.</span>
      </div>
      <div class="chart-box">
        <highcharts style="height: 100%; width: 100%;" :options="options"></highcharts>
      </div>
    </div>
  </div>
</template>

<script>
var options = {
  chart: {
    polar: true,
    type: "line"
  },

  title: {
    text: ""
  },

  pane: {
    startAngle: 0,
    endAngle: 360
  },

  xAxis: {
    lineWidth: 0,
    categories: ["Html", "CSS", "Javascript", "VueJS", "Sql", "Java"],
    tickmarkPlacement: "on",
    labels: {
      style: {
        fontSize: "18px"
      }
    }
  },

  yAxis: {
    gridLineInterpolation: "polygon",
    min: 0,
    max: 10,
    labels: {
      enabled: false
    }
  },
  tooltip: {
    shared: true,
    pointFormat:
      '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
  },

  series: [
    {
      type: "area",
      name: "Expertise",
      data: [9, 9, 7, 5, 6, 7],
      color: "#ffc81f"
    }
  ]
  //   responsive: {
  //     rules: [
  //       {
  //         condition: {
  //           maxWidth: 500
  //         },
  //         chartOptions: {
  //           chart: {
  //             width: 100
  //           }
  //         }
  //       }
  //     ]
  //   }
};
export default {
  components: {},
  data() {
    return {
      options: options
    };
  },
  methods: {}
};
</script>

<style scoped>
.text-box .banner {
  font-size: 180px !important;
  height: 25%;
}
.chart-box {
  width: 90%;
  height: 60vh;
}
@media only screen and (max-width: 768px) {
  .detail .h1 {
    font-size: 40px !important;
  }
  .highlight-text {
    font-size: 44px !important;
  }
  .text-box .banner {
    font-size: 150px !important;
    height: 25%;
  }
}

@media only screen and (max-width: 425px) {
  .detail .h1 {
    font-size: 30px !important;
  }
  .highlight-text {
    font-size: 34px !important;
  }
  .text-box .banner {
    font-size: 100px !important;
    height: 25%;
  }
  .highcharts-axis-labels text {
    font-size: 14px !important;
  }
  .chart-box {
    width: 90%;
    height: 30vh;
  }
}
</style>

<style>
rect {
  fill: rgba(0, 0, 0, 0);
}
.highcharts-series.highcharts-series-0.highcharts-area-series path {
  fill: rgba(255, 200, 31, 0.2);
}
.list-skill img {
  width: 50px;
}
.highcharts-legend-item,
.highcharts-credits {
  display: none;
}
@media only screen and (max-width: 425px) {
  .highcharts-axis-labels text {
    font-size: 14px !important;
  }
}
</style>