<template>
  <div>
    <div id="app">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap");

#app {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1 !important;
  font-weight: 400;
}

.nav-trans {
  z-index: 999;
  position: absolute;
  width: 100vw;
  -webkit-animation: fade-in-top 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.7s
    both;
  animation: fade-in-top 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.7s both;
}

.nav-trans ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-trans ul li {
  margin: 40px;
  cursor: pointer;
  position: relative;
}

.nav-trans ul li a {
  color: black;
}


.nav-trans ul li a:hover {
  text-decoration: none;
}

.nav-trans ul li a:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffc81f;
  transform: translateX(-50%);
  transition: width 175ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.nav-trans ul li a:hover::after {
  width: 40%;
}

.nav-trans ul li a.active:after {
  width: 40%;
}

h1,
.h1 {
  font-size: 48px !important;
}

.text-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-box .banner {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  overflow: hidden;
  font-size: 80px !important;
  padding: 10px 0 5px;
  margin-top: -20px;
  font-weight: 800;
  letter-spacing: 5px;
  color: #fff;
  animation: 0.1s fade-in forwards;
  animation-delay: 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-box .banner:nth-child(2) {
  animation-delay: 0.6s;
}

.text-box .banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 0.075em);
  transform: translate3d(-105%, 0, 0);
  animation: 1s in-out forwards;
}

.text-box .banner:nth-child(2)::after {
  animation-delay: 0.3s;
}

.text-box .banner.black::after {
  background-color: #ececec;
}

.text-box .banner.grey:after {
  background-color: #f6f6f6;
}

.detail {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .h1 {
  display: block;
  -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1)
    1.5s both;
  animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  padding: 0 10%;
}

.highlight-text {
  color: #ffc81f;
  font-weight: 600;
  font-size: 54px;
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #ffc81f;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #ffc81f;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@keyframes in-out {
  0% {
    transform: translate3d(-105%, 0, 0);
  }
  30%,
  70% {
    /*to stay a while full width*/
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(105%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    color: #fff;
  }
  100% {
    color: #f4f3f3;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
</style>
